body{
    background-color: black;
    padding:0px;
}
.one{
    height: 90vh;
}
.oneextra{
    display: flex;
    flex-direction: row;
}
.oneleft{
    width:30%;
    margin-top:5%;
}
.oneright{
    width:70%;
    margin-top:5%;
}
.onerightbild > img{
    width:90%;
    height:60vh;
    margin-left:2%;
} 
.nameandtitleandbox{
    margin-top:5%;
    width:100%;
    height:40%;
    margin-left: 5%;
}
.overname{
    color:lightgray;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;   
}
.namn {
    font-size: 70px;
    font-family: 'Bangers', cursive;
    color:whitesmoke;
}
.rline{
    margin-top:2%;
    margin-left: 7vh;
}
.title{
    color:lightgray;
    margin-top:8%;
    margin-bottom: 5%;
    font-family: 'Orbitron', sans-serif;
    font-size: 13px;
}
.boxes{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    margin-top:2vh;
    margin-bottom:20vh;

}
.box1, .box2, .box3{
    width:10vh;
    height: 10vh;
    background-color: white;
    opacity: 0.5;
    border-radius: 8px;
}
.box1:hover, .box2:hover, .box3:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.cssandhtml{
    width:10vh;
    height:10vh;
}
.hiddendivcss,.hiddendivhtml,.hiddendivjs{
    background-color: black;
    width: 100%;
    height: 10vh;
    margin-top:80px;
    color:white;
    text-align-last: center;
}
.hiddenimg{
    width:70px;
    height:90px;
    margin:auto;
}
.arrowdown1{
    display: flex;
    justify-content: center;
    color:white;
}
.two{
    height: 100vh;
    margin-top:1vh;
    margin-bottom:0px;
}
.twoextra{
    display: flex;
    flex-direction: row;
}
.twoleft{
    width:40%;
    margin-top:5%;
    margin-bottom:5%;
    
}
.twoleft > img{
    height:50vh;
    opacity: 0.8;
}
.tworight{
    width:60%;
}
.tworighthello{
    margin-top:20%;
    color:white;
    font-family: 'Bangers', cursive;
    margin-left:5%;
}
.tworightinfo{
    color:lightgray; 
    font-family: 'Orbitron', sans-serif;
    margin-left:5%;
}
.rlinediv{
    margin-left:5vh;
    margin-top:5%;
    margin-bottom:5%;
}
.flexdivtilldivarna{
    display: flex;
    flex-direction: row;
}
.flexdiv{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
.namejobb{
    display: flex;
    flex-direction: row;
    margin-top:1vh;
}
.agecity{
    display: flex;
    flex-direction: row;
}
.fat{
    font-family: 'Bangers', cursive;
    color:white;
    margin-bottom:5%;
}
.answer{
    margin-bottom:2%;
    font-size: 14px;
}
.buttontoletter{
    display:flex;
    justify-content: space-between;
    margin-top:5%;
    width:50%;
}
.mywork{
    color:lightgray;
    text-align: center;
    margin-top:150px;
    font-family: 'Bangers', cursive;
    font-size: 30px;
}
.arrowdown2{
    display: flex;
    justify-content: center;
}
.three{
    color:white;
    margin-top:300px;
    margin-bottom:50px;
    height: 100vh;
}
.arrowup{
    margin:auto;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 150px;
}
.slide{
    margin:auto;
    border:1px solid white;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    color: black;
    background-color: black;
}



@media only screen and (max-width: 600px) {

.one{
    margin-top:0px;
    height: 90vh;
}
.oneleft{
    width:100vh;
    margin-top:0px;
}
.oneright{
    display:none;
}
.overname{
    font-size: 10px;
}
.namn{
    font-size: 65px;
    width:100vh;
    margin-bottom: 0px;
}
.rline{
    width:270px;
    margin-top:0px;
    margin-left:10px;
    margin-bottom: 0px;
}
.title{
    width:100vh;
    margin-top:25px;
    margin-left:10px;
    font-size: 10px;
}
.boxes{
    display:flex;
    justify-content: space-between;
    width:250px;
    margin-top:40px;
    margin-bottom:70px;
    margin-left:10px;
}
.hiddendivhtml, .hiddendivcss, .hiddendivjs{
    margin-top:75px;
    margin-left:25px;

}
.twoextra{
    display: flex;
    flex-direction: column;
}
.twoleft {
    width:500px;
}
.twoleft > img{
    width:70%;
    height: 70%;
    margin-left:55px;
}
}

@media only screen and (min-width: 800px){
    #header{
        font-size: 70%;
    }
}